.aktualnostlist {
  width: 100%;
  height: 800px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: scroll;
  overflow-y: hidden !important;
}
.aktualnostlist ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 40px;
}
.aktualnostlist ul li {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 33.33%;
  display: inline-block;
  font-size: 12px;
  padding: 5px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}
.aktualnostlist ul li a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  text-decoration: none;
}
.aktualnostlist .aktualnostlist-container {
  height: 60%;
  overflow-y: hidden;
}
.aktualnostlist .aktualnostlist-title {
  font-size: 28px;
  color: #000;
  top: 0px;
  font-weight: 800;
  height: 40%;
  margin-bottom: 20px;
}
.aktualnostlist .aktualnostlist-bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.aktualnostlist .aktualnostlist-maintitle {
  font-weight: 800;
  font-size: 40px;
  color: #000;
  padding-top: 25px;
  margin-bottom: 10px;
}
.aktualnostlist .aktualnostlist-text {
  color: #000;
  margin-bottom: 30px;
}
.aktualnostlist .aktualnostlist-btn {
  width: 40% !important;
}
.aktualnostlist .aktualnostlist-datum {
  font-weight: 300;
}
.redline {
  background-color: red;
  width: 30%;
  padding-left: 0px;
  margin-left: 0px;
}
@media (max-width: 1024px) {
  .aktualnostlist ul li {
    width: 50%;
  }
  .aktualnostlist {
    overflow: scroll;
    overflow-x: hidden;
  }
}
@media (max-width: 768px) {
  .aktualnostlist ul li {
    width: 50%;
  }
  .aktualnostlist {
    overflow: scroll;
    overflow-x: hidden;
  }
  .aktualnostlist-maintitle {
    margin-left: 0;
  }
}
@media (max-width: 450px) {
  .aktualnostlist ul li {
    width: 100%;
  }
}
