.contact {
  position: relative;
}
.contact #map {
  height: 600px;
  width: 100%;
}
.contact .contact-window-container {
  position: absolute;
  top: 20%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  max-width: 300px;
  padding: 20px;
}
.contact .contact-window {
  text-align: right;
}
.contact .contact-btn {
  text-align: right;
}
.contact .contact-btn a {
  padding: 5px 20px;
  font-size: 12px;
}
.contact {
  padding: 0 20px;
  overflow: hidden;
}
.contact .contact-title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}
.contact .contact-list {
  display: flex;
  display: -ms-flex;
  justify-content: space-between;
}
.contact .contact-list .contact-sector-title {
  margin-bottom: 10px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .contact-window p {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .contact .contact-window-container {
    position: relative;
    width: 100%;
    text-align: left;
  }
}
