body {
  color: #2b2e31;
}
a:hover,
a:active {
  color: #db262f;
}
#headercontainer {
  height: 150px;
}
.main-navigation {
  float: left;
}
.header-right {
  width: 80%;
  float: left;
  padding-left: 50px;
}
.headerTop {
  border-bottom: 1px solid #878c90;
  text-align: right;
  padding: 20px 0;
}
.headerTop-item {
  display: inline-block;
  border-right: 1px solid #878c90;
  text-align: center;
  vertical-align: middle;
  padding: 0 20px;
}
.headerTop-item:last-child {
  border-right: 0;
}
.headerTop-item select {
  border: 0;
  font-size: 12px;
  color: #878c90;
  font-weight: bold;
}
.header-link {
  font-size: 12px;
}
.header-link i {
  display: inline-block;
  color: #ffc829;
  font-weight: bold;
  margin-right: 7px;
  font-size: 16px;
  vertical-align: text-bottom;
}
.header-link .header-link-text {
  color: #878c90;
  display: inline-block;
  text-transform: uppercase;
}
#site-navigation {
  margin-top: 30px;
}
#site-navigation ul a {
  color: #878c90;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 2.5;
}
#site-navigation ul a:hover {
  color: #ffc829;
}
#site-navigation ul a:after {
  position: absolute;
  right: -12px;
  top: 5px;
}
#site-navigation li {
  margin-left: 0;
  margin-right: 40px;
}
#site-navigation .sub-menu {
  padding: 5px 0;
  top: 35px;
}
#site-navigation .sub-menu li {
  margin-right: 0;
  padding: 5px 10px;
}
#site-navigation .sub-menu li:hover a {
  background-color: transparent;
}
#site-navigation .sub-menu li a {
  min-width: 180px;
  width: 100%;
  color: #fff;
  padding: 0;
}
#site-navigation .sub-menu li a:hover {
  color: #ffc829;
}
.custom-logo {
  max-width: 180px;
  margin-top: 65px;
  margin-left: 30px;
  width: 100%;
}
@media (max-width: 768px) {
  .custom-logo {
    margin-top: 15px;
    margin-left: 0px;
  }
  #masthead .site-title {
    min-width: 100px;
    float: left;
    width: 20%;
  }
  .headerTop {
    padding: 5px 0;
  }
  #site-navigation {
    display: inline-block;
    float: right;
    margin-top: 10px;
  }
  #headercontainer {
    height: 110px;
  }
  .main-small-navigation .nav-menu {
    position: absolute;
    width: 100%;
    left: 0px;
    z-index: 100000;
    background: #2b2e31;
    padding: 10px 20px;
    margin-top: 10px;
  }
  .headerTop-item {
    padding: 0 10px;
  }
  .header-link {
    font-size: 9px;
  }
}
@media (max-width: 580px) {
  .header-right {
    padding-left: 0px;
    float: right;
    margin-top: 30px;
    width: 40%;
  }
  .headerTop {
    position: absolute;
    top: 0;
    width: 100%;
    float: none;
    left: 0;
  }
  #site-navigation {
    float: right;
    margin-top: 20px;
  }
  .menu-toggle {
    float: right;
    margin-right: 10px;
  }
  #menu-main {
    margin-top: 56px;
  }
  #masthead .site-title {
    min-width: 120px;
    margin-top: 10px;
  }
}
