.tabs {
  margin-bottom: 40px;
}
ul.tabs-titles {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs-titles li {
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}
ul.tabs-titles li.current {
  background: #ededed;
  color: #222;
}
.tab-content {
  display: none;
  background: #ededed;
  padding: 15px;
}
.tab-content.current {
  display: inherit;
}
.sector-contact-list {
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}
.sector-contact-list .sector-contact {
  margin-right: 40px;
}
.sector-title {
  font-weight: 600;
  margin-bottom: 10px;
}
