.newsBox {
  width: 100%;
  height: 400px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -50px;
}
.newsBox .newsBox-content {
  z-index: 2;
  position: relative;
  padding-top: 100px;
}
.newsBox .newsBox-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.2;
  z-index: 1;
}
.newsBox .newsBox-form {
  width: 35%;
  min-width: 320px;
  padding-top: 30px;
}
.newsBox .newsBox-form .button1 {
  background: none;
  color: #fff;
  text-transform: uppercase;
}
.newsBox .newsBox-title {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  line-height: 120%;
  padding-top: 20px;
}
.newsBox .newsBox-title p {
  font-size: 30px;
  line-height: 120%;
}
@media (max-width: 768px) {
  .newsBox .newsBox-title p {
    font-size: 21px;
  }
  .newsBox .newsBox-form {
    padding-top: 10px;
  }
  .newsBox .newsBox-form {
    min-width: 260px;
  }
}
@media (max-width: 460px) {
  .newsBox {
    text-align: center;
    height: auto;
  }
  .newsBox-form {
    margin: 0 auto;
  }
  .newsBox .line {
    margin-left: auto;
    margin-right: auto;
  }
}
