.singleproduct {
  padding-top: -20px;
  padding-bottom: 50px;
}
.singleproduct .singleproduct-file {
  margin-top: 20px;
}
.singleproduct .singleproduct-title {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 32px;
  font-weight: 600;
}
.singleproduct .singleproduct-title.main {
  font-size: 40px;
}
.singleproduct .singleproduct-title.sub {
  margin-bottom: 15px;
}
.singleproduct .singleproduct-img {
  width: 100%;
}
.singleproduct .singleproduct-left,
.singleproduct .singleproduct-right {
  float: left;
}
.singleproduct .singleproduct-left {
  width: 60%;
}
.singleproduct .singleproduct-right {
  width: 40%;
}
.singleproduct .singleproduct-opis {
  font-size: 12px;
  font-weight: 300;
  margin-top: 20px;
}
.singleproduct .singleproduct-text {
  font-weight: 300;
}
.singleproduct .singleproduct-text.data {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}
.singleproduct .singleproduct-imgcontainer {
  width: 70%;
  float: left;
  padding-top: 25px;
  padding-bottom: 80px;
  border: 1px solid #c1c1c1;
  margin-bottom: 40px;
}
.singleproduct .singleproduct-iconcontainer-table {
  display: table-cell;
  vertical-align: middle;
}
.singleproduct .singleproduct-icons {
  display: -ms-flex;
  display: flex;
  width: 30%;
  padding: 0 20px;
}
.singleproduct .singleproduct-icons ul {
  list-style: none;
  margin-bottom: 20px;
  padding-left: 0px;
}
.singleproduct .singleproduct-icons ul li {
  margin: 0;
  display: inline-block;
  font-size: 12px;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
}
.singleproduct .singleproduct-icons ul li a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  text-decoration: none;
}
.singleproduct .singleproduct-iconcontainer {
  display: table;
  margin-bottom: 20px;
  background-color: #E9E9E9;
  text-align: center;
  padding: 0 10px;
  width: 100px;
  height: 100px;
}
.singleproduct .singleproduct-icon {
  width: 30px;
  height: 30px;
}
.singleproduct .singleproduct-icontitle {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 600;
}
.barve ul {
  list-style: none;
  margin-bottom: 20px;
  padding-left: 0px;
  float: left;
}
.barve ul li {
  margin: 0;
  font-size: 12px;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  margin-right: 30px;
}
.barve ul li a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  text-decoration: none;
}
.barve .barve-container {
  min-height: 30px;
  text-align: center;
  border: 1px solid #c1c1c1;
  width: 100px;
  padding-top: 4px;
  text-shadow: 1px 1px #fff;
}
.barve .barve-x {
  float: none;
  clear: both;
}
.dodatki {
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px;
  text-align: left;
}
.dodatki .dodatki-item {
  width: 33.33333333%;
  text-align: center;
}
.dodatki .dodatki-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.dodatki .dodatki-title:hover {
  color: #f5c505;
}
.dodatki .dodatki-text {
  font-weight: 300;
}
.singleproduct-right .singleproduct-seperator {
  background-color: red;
  margin-left: 0;
  margin-right: 0;
}
.singleproduct-line {
  border-color: #f5c505;
  background-color: #f5c505;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .singleproduct-left {
    width: 100% !important;
  }
  .singleproduct-right {
    width: 100% !important;
  }
  .singleproduct-imgcontainer {
    width: 95% !important;
  }
  .singleproduct-icons {
    width: 100% !important;
  }
  .singleproduct-icons ul li {
    display: inline-block !important;
  }
  .singleproduct-icons ul li {
    vertical-align: top !important;
  }
}
